.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.dialogsItems {
    padding: 15px;
    color: #fff;
}
.dialogsItems .active {
    color: grey;
}
.dialog {
    
}

.messages {
    padding: 15px;
}

.message {
    color: #fff;
}
